﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Register.aspx.cs" Inherits="hm.Register" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <script src="Scripts/jquery-3.1.1.js"></script>
     <style>
        
       
        .log-form{
            /*background-color:#f1f2cd;*/
            height:100%;
            margin-top:50px;
            padding-top:100px;
                text-align:center;

        }
        input{
           
            height:35px;
            outline:none;
        
           
            transition:all .2s ease-in-out;
            
        }

        input:focus{
            box-shadow: 0px 17px 15px -10px rgba(0, 0, 0, 0.4);
        }
        html,body{
            height:100%;
        }
        .categories,.categories-trigger{
            display:none;
        }
    </style>
    <div class="log-form">
        <form runat="server" method="post" onsubmit="submitted">
            <label for="username">User Name</label><br />
            <asp:TextBox ID="username" runat="server"></asp:TextBox><br /><br />

            <label for="email">E-mail</label><br />
            <asp:TextBox ID="email" runat="server"></asp:TextBox><br /><br />
            <label for="password">Password</label><br />
            <asp:TextBox ID="password" runat="server"></asp:TextBox><br /><br />
        
        
            <asp:Button ID="Button1" runat="server" Text="Rgister" OnClick="submit" UseSubmitBehavior="true" CssClass="sbmt-btn"/><br />
            <asp:Label ID="varr" runat="server" Text=""></asp:Label>
        </form>
    </div>
</asp:Content>
