﻿@model hm.Models.user

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .container {
        margin-top: 50px;
    }

    .categories {
        display: none;
    }

    .categories-trigger {
        display: none;
    }
    label,input{
        font-family:sans-serif;
    }
</style>

<div></div>

<div class="row">
    <div class="log-form">
       
        <form class="">
            <label for="email_input">E-mail</label> <br>
            <input type="email" id="email_input" class="input">
           
            <br>
            <label for="email_input">Password</label> <br>
            <input type="email" id="password_input" class="input">
           

            <input type="submit" class="sbmt-btn" value="Send">
        </form>
    </div>
</div>
<a href="~/Views/user/LogIn.cshtml">~/Views/user/LogIn.cshtml</a>