﻿@model hm.Models.user

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="row">
    <div class="log-form">

        <form class="">

            @using (Html.BeginForm("LogIn", "user", FormMethod.Post))
            {
                @Html.AntiForgeryToken() //csrf attack
                @Html.ValidationSummary(true)

                if (ViewBag.Massage != null)
                {
                    <div style="1px solid red">
                        @ViewBag.Massage
                    </div>
                }

                
                <label for="email_input">User Name</label> <br>
                <input type="text" id="username_input" class="input">
                @Html.ValidationMessageFor(a => a.username)
                <label for="email_input">E-mail</label> <br>
                <input type="email" id="email_input" class="input">
                @Html.ValidationMessageFor(a => a.email)
                <br>

                <label for="password_input">Password</label> <br>
                
                <input type="password" id="password_input" class="input">
                @Html.ValidationMessageFor(a => a.password)

                <label for="password_input1">Confirm Password</label> <br>
                <input type="password" id="password_input1" class="input">
                @Html.ValidationMessageFor(a => a.password)

                <input type="submit" class="sbmt-btn" value="Send">
            }

        </form>
    </div>
</div>