﻿@media screen and (max-width: 800px) {
    #navbar{
        height:160px;
        flex-wrap:wrap;
    }
    #cart{
        position:absolute;
        top:60px;
        left:20px;
    }
    
    .sign-in-up{
        position:absolute;
        top:100px;
        left:20px;
    }
   
}