﻿@media screen and (max-width: 620px) {
    .search-box{
 
    order : 1;
    min-width:300px;
}
    .category{
        width:50px;
        padding-left:17px;
    }

    .log-in-form{
        width:100%;
     }
}