﻿؟@media screen and (max-width: 480px){
    .search-box{
        position:absolute;
        top:60px;
        min-width:100%;
    }
     #cart{
        position:absolute;
        top:110px;
        left:20px;
    }
    
    .sign-in-up{
        position:absolute;
        top:150px;
        left:20px;
        
    }
        #navbar{
        height:220px;
        
    }
}