﻿@*@model IEnumerable<hm.Models.category>*@
@using hm.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <link href="~/styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/main.css" rel="stylesheet" />
    <link href="~/styles/meidaQueries/style1200.css" rel="stylesheet" />
    <link href="~/styles/meidaQueries/style800.css" rel="stylesheet" />
    <link href="~/styles/meidaQueries/style620.css" rel="stylesheet" />
    <link href="~/styles/meidaQueries/style480.css" rel="stylesheet" />


    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#247884; border:none;border-radius:0;">
        <div class="container-fluid " style="border:none;border-radius:0;">
            <div class="navbar-header " style="border:none; border-radius:0;">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="point"><i class="fa fa-circle" aria-hidden="true"></i></span>
                    <span class="point"><i class="fa fa-circle" aria-hidden="true"></i></span>
                    <span class="point"><i class="fa fa-circle" aria-hidden="true"></i></span>
                </button>
                <a class="navbar-brand" href="~/home.aspx">H&M</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li class="search">
                        <input type="text" class="" placeholder="Search" />
                        <select name="" class="category">
                            <option value="c">All</option>
                            <option value="s">asd</option>
                        </select>

                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right" >
                    <li>
                       
                        
                            @{
                                if (Session["userName"] != null)
                                {
                                    @:<a href="../../profile.aspx"><span>Hi</span> @Session["userName"].ToString()</a></li>
                                    @:<li> @Html.ActionLink("Log Out","logout","Home")
                                }
                                else
                                {
                                   @:<a href="../../Register.aspx"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                    @:<li><a href="../../login.aspx"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                                }
                            }
                            
                    </li>
                    <li><a> <i class="fa fa-shopping-cart" aria-hidden="true"></i><span style="margin-left:5px;">Cart</span></a></li>

              </ul>
            </div>


        </div>

    </nav>
   


    <div class="container body-content">
        @RenderBody()

        <footer>

            <div class="row" style="margin:0px;">
                <div class="col-lg-12 brand-footer">H&M</div>
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="col-lg-1 col-lg-offset-3"><a>US</a></div>
                    <div class="col-lg-1"><a href="#">UK</a></div>
                    <div class="col-lg-1"><a href="#">KSA</a></div>
                    <div class="col-lg-1"><a href="#">TR</a></div>
                    <div class="col-lg-1"><a href="#">UAE</a></div>
                    <div class="col-lg-1"><a href="#">SY</a></div>
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - H&M </p> &nbsp; &nbsp; &nbsp;
            <p>Made with <i style="color:red; font-size:20px;" class="fa fa-heart-o" aria-hidden="true"></i> By: Abdulrahman Hamidi</p>
        </footer>
    </div>

    <div class="categories-trigger">Categories<span> <i class="fa fa-arrow-down" aria-hidden="true"></i></span></div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script>

    </script>

    <script src="~/JS/animations.js"></script>
</body>
</html>