﻿@model IEnumerable <hm.Models.comment>
<style>
    .categories-trigger{
        display:none;
    }
    .partial .comment {
        display:block;
        margin-right: 0;
        padding: 10px;
        width:100%;
        background-color:#ffffff;
        border: 1px solid #dce6cf;
        border-radius:4px;
        box-shadow: 0 2px 2px -5px #080808;
    }

    .partial .middle {
        padding: 10px 10px 10px 15px;
        font-size:20px;
    }

    .partial ul{
        display:flex;
        flex-wrap:wrap;
        list-style:none;
    }
    .partial ul li div{
        text-align:left;
    }
    .partial .comment-input{
        width:80%;
        border: 1px solid #dce6cf;
        border-radius:4px;
        padding:5px;
        background-color:#ffffff;
        text-align:left;
        flex-grow:4;
    }
    .partial ul li:last-child{
        width:100%;
        margin-top:10px;
        display:flex;
    }
    .partial ul li:last-child .sub{
        padding:5px;
        background-color:#00283B;
        border: 1px solid #dce6cf;
        border-radius:4px;
        color:#ffffff;
        height:30px;
        flex-grow:2;
 
    }
    
</style>
<span class="partial">
    <ul>
        @foreach (var item in Model)
        {
            DateTime d = item.date;
            
            <li class="comment">
                <div>
                    <div class="up">
                        <span class="commenter">@item.commenter</span> <span class="time"> @d.Day / @d.Month / @d.Year</span>
                    </div>
                    <div class="middle">@item.comment1 </div>
                    <div class="bottom"></div>
                </div>
            </li>
        }
        @{ 
            if (Model.Count() == 0)
            {
                @:<li class="comment">There is no comments about this product</li>
            }
        }
        @*<li>
            
            
            <input type="text" class="comment-input"
                   @{ if (Session["userID"] == null)
                       {
                           @: disabled placeholder="You Need To Log In To Write A Comment..."
                       } else
                       {
                           @: placeholder="Write A Comment..."
                       }
                  }>
            <input type="submit" value="Comment"class="sub"
                    @{ if (Session["userID"] == null)
                       {
                           @: disabled 
                       }
                    }
                   />
        </li>*@
    </ul>
</span>