﻿@model hm.Models.comment


<style>
    #comment1{
        width:80%;
        border: 1px solid #dce6cf;
        border-radius:4px;
        padding:5px;
        background-color:#ffffff;
        text-align:left;
        flex-grow:5;
    }
    .sub{
        padding:5px;
        background-color:#00283B;
        border: 1px solid #dce6cf;
        border-radius:4px;
        color:#ffffff;
        height:30px;
        flex-grow:3;
        padding: 0 20px 0 20px;
    }
</style>


@{ 
    if (Session["userID"]==null)
    {
        @:<input readonly type="text" placeholder="you need to login to write a comment" id="comment1" width="100%"/>
    }else
    {
        using (Html.BeginForm())
        {

        @Html.EditorFor(c => c.comment1)

        @*@Html.Hidden("productID", new { vlaue = Model.porductID })*@
        @Html.HiddenFor(c => c.porductID, new { vlaue = Model.porductID })

        <input type="submit" class="sub"value="submit"/>
        }
    }
}