﻿@model hm.Models.product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style>
        .body .row .image {
            float: right;
            width: 500px;
            min-width: 400px;
            
        }

            .body .row .image img {
                max-width: 500px;
                margin-top: 25px;
            }

        .body .row .right-sec {
            /*background-color:yellow;*/
            width: 50%;
            height: 400px;
            float: left;
        }

            .body .row .right-sec .title {
                color: #FF530D;
                font-family: sans-serif;
                font-weight: bolder;
                /*text-decoration:underline;*/
                display: block;
                float: left;
                font-size: 22px;
                border-bottom: 3px solid #FF530D;
                margin-right: 23px;
            }

            .body .row .right-sec .disc {
                font-family: sans-serif;
                text-align: left;
                font-size: 15px;
                line-height: 22px;
            }

            .body .row .right-sec .price-sec {
                float: left;
            }

        .links {
            background-color: #00283B;
            width: 100%;
            height: 60px;
            color: #FFFFFF;
        }

            .links ul {
                list-style: none;
                width: 100%;
                overflow: hidden;
                margin:0;
            }

                .links ul li {
                    box-sizing: border-box;
                    width: 33.3333333%;
                    height: 60px;
                    text-align: center;
                    float: left;
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 100;
                    letter-spacing: 2px;
                    padding-top: 18px;
                    transition: letter-spacing .3s;
                }


                    .links ul li:hover {
                        background-color: rgba(255, 255, 255,0.3);
                        letter-spacing: 8px;
                    }

        .body .row .details .title {
            color: #FF530D;
            font-family: sans-serif;
            font-weight: bolder;
            display: block;
            float: left;
            font-size: 22px;
            border-bottom: 3px solid #FF530D;
            text-align: left;
        }

        .datails-table {
            width: 100%;
            height: 400px;
            background-color: #00283B;
        }

        .comment {
            margin-top: 3px;
            
            float: left;
            padding: 10px;
            text-align:left;
        }

        .commenter {
            font-family: sans-serif;
            font-size: 18px;
        }

        .comment-content {
            font-family: sans-serif;
            padding: 10px 0 0 10px;
        }
        .title a{
            text-decoration:none;
            color:#FF530D;

        }
        .title{
            width:100%;
        }
        #cmnt{
            width:100%;
            margin-top:50px;
        }
    </style>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<div></div>
<div class="body">
    <div class="row" style="padding-bottom:60px;">
        <div class="image">
            <img src="~/@Model.image.ToString()" />
        </div> <!--image-->

        <div class="right-sec">
            <div class="title">
                @Model.name
            </div><br /><br />
            <div class="price-sec"><span class="price-tl">$@Model.price</span><span class="price"></span></div>
            <br /><br />
            <div class="rate">
             @{ 
                 
                     Response.Write(ViewBag.stars);
                
             }

            </div><div class="rate-number">(@Model.raters)</div>

            <br />
            <div class="disc">@Model.discription @Model.discription </div>
        </div> <!--right-sec-->
    </div>  <!--row-->

    <div class="links">
        <ul>
            <li>Details</li>
            <li>Comments</li>
            <li>Seller Information</li>
        </ul>
    </div><!--links-->

    <div class="row">
        <div class="details">
            <div class="title" style="text-align:left;">
                Details
            </div><br /><br />
            <div class="datails-table">

            </div><br />

           
            <div class="title ">
               



                @Ajax.ActionLink("Comments", "GetComments", new { id = Model.id }, new AjaxOptions()
                 {
               HttpMethod = "GET",
               UpdateTargetId = "cmnt",
               InsertionMode = InsertionMode.Replace
                 })
                <span class="fa fa-arrow-down arrow"> </span>
            </div>
            
            <br>
            <div class="comments" style="text-align:left;">
                <div id="cmnt"></div>
                <div id="write">
                    @Ajax.ActionLink("Write A Comment", "WriteComments", new { id = Model.id }, new AjaxOptions()
                        {
                   HttpMethod = "GET",
                   UpdateTargetId = "write",
                   InsertionMode = InsertionMode.Replace
                    })
                </div>
            </div>



        </div>
    </div>
    <script>
        //alert("adsf");
        //var num = 800;

        //$(window).bind('scroll', function () {
        //    if ($(window).scrollTop() > num) {
        //        $('.links').addClass('fixed');
        //    } else {
        //        $('.links').removeClass('fixed');
        //    }
        //});
    </script>
</div> <!--body-->



</html>
