﻿@model hm.Models.product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<style>
    .categories-trigger{
        display:none;
    }
     input{
            margin-bottom:10px;
            outline:none !important; 
            
            box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.2) !important;
            
            padding:5px;
        }
        input:focus{
             box-shadow:0px 17px 15px -10px rgba(0, 0, 0, 0.4) !important;
 
}
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="padding:50px;">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-4">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.stack, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.stack, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stack, "", new { @class = "text-danger" })
            </div>
        </div>

   
        

        <div class="form-group">
            @Html.LabelFor(model => model.discription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.discription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.discription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control"   } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

       

       


        <div class="form-group">
            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-4">
               
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#"><input type="submit" value="Save" class="btn btn-default" /></a>
            </div>
        </div>
    </div>
}


