﻿@model hm.Models.product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    

.body .row .image{
    float:right;
    
    width:500px;
    min-width:400px;
    height:400px;
}

.body .row .image img{
   
    max-width:500px;
    margin-top:25px;
}

.body .row .right-sec{
    /*background-color:yellow;*/
    width:50%;
    height:400px;
    float:left;
}

.body .row .right-sec .title{
    color:#FF530D;
    font-family:sans-serif;
    font-weight:bolder;
    /*text-decoration:underline;*/
    display:block;
    float:left;
    font-size:22px;
    border-bottom: 3px solid #FF530D;
    margin-right:23px;
    

}
.body .row .right-sec .disc{
    font-family:sans-serif;
    text-align:left;
    font-size:15px;
    line-height:22px;
}
.body .row .right-sec .price-sec{
    float:left;
}

.links{
    background-color:#00283B;
    width:100%;
    height:60px;
    color:#FFFFFF;
}

.links ul{
    list-style:none;
    width:100%;
   
    overflow:hidden;
}

.links ul li{
    box-sizing:border-box;
    width:33.3333333%;
    height:60px;
    text-align:center;
    float:left;
    font-size:18px;
    font-family:sans-serif;
    font-weight:100;
    letter-spacing:2px;
    padding-top:18px;
    transition :  letter-spacing .3s;
}


.links ul li:hover{
    background-color:rgba(255, 255, 255,0.3);
    letter-spacing:8px;
}

.body .row .details .title{
    
   
    color:#FF530D;
    font-family:sans-serif;
    font-weight:bolder;
    display:block;
    float:left;
    font-size:22px;
    border-bottom: 3px solid #FF530D;
    text-align:left;
    
}

.datails-table{
    width:100%;
    height:400px;
    background-color:#00283B;
}

.comment{
    margin-top:10px;
    
   
    width:100%;
    float:left;
    padding:10px;
}

.commenter{
    font-family:sans-serif;
    font-size:18px;
}

.comment-content{
    font-family:sans-serif;
    padding:10px 0 0 10px;
}
</style>
<div></div>
<div class="body">
    <div class="row" style="padding-bottom:60px;">
        <div class="image">
            <img src="@Model.image.ToString()" />
        </div> <!--image-->

    <div class="right-sec">
        <div class="title">
            Fkn NIKON Camera
        </div><br /><br />
        <div class="price-sec"><span class="price-tl">$599.</span><span class="price">99</span></div>
        <br /><br />
        <div class="rate">
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <span><i class="fa fa-star-o" aria-hidden="true"></i></span>

        </div><div class="rate-number">(2309)</div>
        
        <br />
        <div class="disc">
            This secret broadcasts a cash. The sacrifice parades under a power. The unhealthy remainder appears with the mixture. Whatever prisoner settles the bush astronomy after the voltage. Every imported package humbles a cabinet. Will an etymology assure the insane mystic?This secret broadcasts a cash. The sacrifice parades under a power. The unhealthy remainder appears with the mixture. Whatever prisoner settles the bush astronomy after the voltage. Every imported package humbles a cabinet. Will an etymology assure the insane mystic?This secret broadcasts a cash. The sacrifice parades under a power. The unhealthy remainder appears with the mixture. Whatever prisoner settles the bush astronomy after the voltage. Every imported package humbles a cabinet. Will an etymology assure the insane mystic?This secret broadcasts a cash. The sacrifice parades under a power. The unhealthy remainder appears with the mixture. Whatever prisoner settles the bush astronomy after the voltage. Every imported package humbles a cabinet. Will an etymology assure the insane mystic?
        </div>
    </div> <!--right-sec-->
    </div>  <!--row-->


    <div class="links">
        <ul>
            <li>Details</li>
            <li>Comments</li>
            <li>Seller Information</li>
        </ul>
    </div><!--links-->

    <div class="row">
        <div class="details">
            <div class="title" style="text-align:left;">
                Details 
            </div><br /><br />
            <div class="datails-table">

            </div><br />
            <div class="comments title">
                Comments :

            </div>
            <div class="comment" style="text-align:left;">
                <div class="commenter" style="text-align:left;">
                    Abdulrahman Hamidi
                </div>
                <div class="comment-content" style="text-align:left;">
                    Love It Its great
                </div>
            </div>



            <div class="comment" style="text-align:left;">
                <div class="commenter" style="text-align:left;">
                    Abdulrahman Hamidi
                </div>
                <div class="comment-content" style="text-align:left;">
                    Love It Its great
                </div>
            </div>

            <div class="comment" style="text-align:left;">
                <div class="commenter" style="text-align:left;">
                    Abdulrahman Hamidi
                </div>
                <div class="comment-content" style="text-align:left;">
                    Love It Its great
                </div>
            </div>

            <div class="comment" style="text-align:left;">
                <div class="commenter" style="text-align:left;">
                    Abdulrahman Hamidi
                </div>
                <div class="comment-content" style="text-align:left;">
                    Love It Its great
                </div>
            </div>

            <div class="comment" style="text-align:left;">
                <div class="commenter" style="text-align:left;">
                    Abdulrahman Hamidi
                </div>
                <div class="comment-content" style="text-align:left;">
                    Love It Its great
                </div>
            </div>
        </div>
    </div>
</div> <!--body-->